{% extends "tasks/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}


<h1>Task Details</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<label>Title</label><p>{{ task.title }}</p>
<label>Description</label><p>{{ task.description }}</p>
<label>Owner</label><p>{{ task.owner }}</p>
<label>Status</label><p>{{ task.status }}</p>
<label>Due Date</label><p>{{ task.due_date }}</p>

{% if members.count > 0 %}
<label>Members</label>
    <ul>
        {% for member in members %}
        <li>{{ member }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p><a href="{% url 'edit' task.id %}">Edit</a></p>

{% endblock %}